/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  background-color: #eee;
}

.header {
  background-color: #f00;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: white;
  margin: auto;
}