<div id="login">

<p>Nothing to display!</p>

<form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= session[:authenticity_token] %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out">
</form>

</div>